<div>
  <div class="container-fluid text-center">
    <div class="row">
      <div class="jumbotron" ng-style="{'background-image':'url(' + city.splash_photo + ')'}">
        <h1>Favorites in {{ city.name }}</h1>
        <div class="col-md-offset-3 col-md-6">
          <ul class="nav nav-pills center-pills">
            <!-- empty anchor tags may need to be fixed -->
            <li role="navigation" class="active"><a href="#/results">Explore</a></li>
            <li role="navigation" class="active"><a href="#/favorites">Favorites</a></li>
            <li role="navigation" class="active"><a href="#">Itinerary</a></li>
          </ul>
        </div>
      </div><!-- /.jumbotron -->
    </div>
  </div>

  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="" ng-click="filterVenues(1)">Hotels</a></li>
      <li role="presentation"><a href="" ng-click="filterVenues(2)">Restaurants</a></li>
      <li role="presentation"><a href="" ng-click="filterVenues(3)">Attractions</a></li>
    </ul>
    <div class="row">
      <h2 class="text-center">{{ heading }}</h2>
    </div>

    <h1 class="text-center" ng-if="filteredUserFavs.length < 1">
      You current do not have any favorites!
    </h1>

    <div ng-repeat="venue in filteredUserFavs" class="row">
      <div class="media venue-info">
        <div class="media-left">
          <a href="">
            <img class="venue-thumbnail media-left" ng-src="{{ venue.photo }}" alt="photo: {{ venue.name }}">
          </a>
        </div>
        <div class="media-body media-middle">
          <h4 class="media-heading">{{ venue.name }}</h4>
          <div>
          </div>
          <span>Select your rating <br> {{venue.userRating}} out of 10
            <div star-rating rating-value="venue.userRating" max="10" on-rating-selected="addRating(venue, venue.userRating)"></div>
          </span>
          <p>{{ venue.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
