<div>
  <div class="container-fluid text-center">
    <div class="row">
      <div class="jumbotron" ng-style="{'background-image':'url(' + city.splash_photo + ')'}">
        <h1>Favorites in {{ city.name }}</h1>
        <div class="col-md-offset-3 col-md-6">
          <ul class="nav nav-pills center-pills">
            <!-- empty anchor tags may need to be fixed -->
            <li role="navigation" class="active"><a href="" ng-click="filterFavorites(1)">Hotels</a></li>
            <li role="navigation" class="active"><a href="" ng-click="filterFavorites(2)">Restaurants</a></li>
            <li role="navigation" class="active"><a href="" ng-click="filterFavorites(3)">Attractions</a></li>
          </ul>
        </div>
      </div><!-- /.jumbotron -->
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h2 class="text-center">{{ heading }}</h2>
    </div>

    <h1 class="text-center" ng-if="filteredUserFavs.length < 1">
      You current do not have any favorites!
    </h1>

    <div ng-repeat="venue in filteredUserFavs | limitTo: 12" ng-if="$index % 3 == 0" class="row">
      <div class="col-xs-4 thumbnail">
        <img ng-src="{{ filteredUserFavs[$index].photo }}" alt="photo: {{ filteredUserFavs[$index].name }}">
        <div class="caption">
          <h3>{{ filteredUserFavs[$index].name }}</h3>
          <div>
            <span>Select your rating <br> {{filteredUserFavs[$index].userRating}} out of 10
              <div star-rating rating-value="filteredUserFavs[$index].userRating" max="10" on-rating-selected="addRating(filteredUserFavs[$index], filteredUserFavs[$index].userRating)"></div>
            </span>
          </div>
          <p>{{ filteredUserFavs[$index].description }}</p>
        </div>
      </div>
      <div class="col-xs-4 thumbnail">
        <img ng-src="{{ filteredUserFavs[$index + 1].photo }}" alt="photo: {{ filteredUserFavs[$index + 1].name }}">
        <div class="caption">
          <h3>{{ filteredUserFavs[$index + 1].name }}</h3>
          <div>
            <span>Select your rating <br> {{filteredUserFavs[$index + 1].userRating}} out of 10
              <div star-rating rating-value="filteredUserFavs[$index + 1].userRating" max="10" on-rating-selected="addRating(filteredUserFavs[$index + 1], filteredUserFavs[$index + 1].userRating)"></div>
            </span>
          </div>
          <p>{{ filteredUserFavs[$index + 1].description }}</p>
        </div>
      </div>
      <div class="col-xs-4 thumbnail">
        <img ng-src="{{ filteredUserFavs[$index + 2].photo }}" alt="photo: {{ filteredUserFavs[$index + 2].name }}">
        <div class="caption">
          <h3>{{ filteredUserFavs[$index + 2].name }}</h3>
          <div>
            <span>Select your rating <br> {{filteredUserFavs[$index + 2].userRating}} out of 10
              <div star-rating rating-value="filteredUserFavs[$index + 2].userRating" max="10" on-rating-selected="addRating(filteredUserFavs[$index + 2], filteredUserFavs[$index + 2].userRating)"></div>
            </span>
          </div>
          <p>{{ filteredUserFavs[$index + 2].description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
