<div>
  <div class="container-fluid text-center">
    <div class="row">
<!--     TODO need new image -->
      <div class="jumbotron" ng-style="{'background-image':'url(' + city.splash_photo + ')'}">
        <h1>Groups</h1>
      </div><!-- /.jumbotron -->
    </div>
  </div>

  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="" ng-click="">My Groups</a></li>
      <li role="presentation"><a href="" ng-click="">Invite</a></li>
      <li role="presentation"><a href="#" ng-click="">Create a new group</a></li>
    </ul>
    <div class="row text-center">
      <div ng-repeat="group in groups track by $index" class="col-lg-4 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-12 col-xs-12 thumbnail itinerary" >
        <div class="venue-info">
          <img class="venue-thumbnail" ng-src="{{ group.destination.index_photo }}" alt="photo: {{ group.destination.name }}">
          <div class="caption">
            <div class="title">
              <h4>{{ group.title }}</h4>
            </div>
            <div class="caption">
              <div>Destination: {{ group.destination.name }} </div>
              <div>Host: {{ group.hosts.username }} </div>
              <div>Members: <p ng-repeat="member in group.members track by $index"> {{member.username}}, </p>
              <button class="btn btn-sm btn-primary" type="button" name="button" ng-click="selectGroup(group)">Select Group</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
