<div>
  <header></header>

  <div class="container">

    <div class="row nav-row">
      <ul class="nav nav-tabs sub-nav">
        <li role="presentation"><a href="" ng-click="filterVenues(1)">Hotels</a></li>
        <li role="presentation"><a href="" ng-click="filterVenues(2)">Restaurants</a></li>
        <li role="presentation"><a href="" ng-click="filterVenues(3)">Attractions</a></li>
      </ul>
      <hr class="carved">
    </div>

    <h1 class="text-center" ng-if="filteredItinerary.length < 1">
      You currently do not have any itinerary in {{ heading }}!
    </h1>
    <div class="row results-container text-center">
      <div ng-repeat="venue in filteredItinerary track by $index" class="col-lg-3 col-md-3 col-sm-4" ng-class="{'itinerary': showInput, 'full-itinerary': !showInput}">
        <div class="venue-info">
          <div class="title">
            <h4>{{ venue.venue.name }}</h4>
          </div>
          <img class="venue-thumbnail" ng-src="{{ venue.venue.index_photo }}" alt="photo: {{ venue.venue.name }}">
            <div class="caption">
              <div class="detailed-info"> Average Group Rating: {{ venue.average}}</div>
              <div>
                <div class="detailed-info">Start date: <br> <em>{{venue.itinerary.fromDate | date:'longDate' }}</em></div>
                <input ng-show="showInput && isHost" class="detailed-info" type="date" class="form-control" ng-model="venue.itinerary.fromDate" ng-required="true"/>
                <div class="detailed-info">End date: <br> <em>{{venue.itinerary.toDate | date:'longDate' }}</em></div>
                <input ng-show="showInput && isHost" class="detailed-info" type="date" class="form-control" ng-model="venue.itinerary.toDate" ng-required="true"/>
              </div>
              <div class="venue-btn-container">
                <button ng-show="showInput && isHost" class="btn btn-sm btn-success" type="button" name="button" ng-click="addDatesToItinerary(venue, venue.itinerary.fromDate, venue.itinerary.toDate)">Submit</button>
                <button ng-show="showInput && isHost" class="btn btn-sm btn-success" type="button" name="button" ng-click="removeFromItinerary(venue)">Remove</button>
                <button class="btn btn-sm btn-info" type="button" name="button" ng-click="showDetailedVenueInfo(venue)">More Info</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
