<div>
	<div class="text-center">
		<h2>{{ratingsInfo.venue.name}}</h2> 
		<div>
			<p>{{ratingsInfo.venue.address}}</p> 
			<p ng-show="!phoneHide">{{ratingsInfo.venue.telephone}}</p>
			<a href="{{ratingsInfo.venue.website}}">{{ratingsInfo.venue.website}}</a> <br>
			<p>Group Average Rating: {{ratingsInfo.avgRating}}</p> 
		</div>
		<div class="detailed-info ">
      <div>Start date: <br> <em>{{fromDate | date:'fullDate' }}</em></div>
      <input class="detailed-info" type="date" class="form-control" ng-model="fromDate" ng-required="true"/>
      <div>End date: <br> <em>{{toDate | date:'fullDate' }}</em></div>
      <input class="detailed-info" type="date" class="form-control" ng-model="toDate" ng-required="true"/>
      <div>
        <button class="btn btn-sm btn-success" type="button" name="button" ng-click="addDatesToItinerary(ratingsInfo, fromDate, toDate)">Submit</button>
      </div>
    </div> 
	</div>
  <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
    <uib-slide ng-repeat="photo in ratingsInfo.venue.photos" active="slide.active">
      <img ng-src="{{photo}}" style="margin:auto;">
      <div class="carousel-caption">
      </div>
    </uib-slide>
  </uib-carousel>
</div>
<div>
