<div class="signupPage" title="Login form" visible="showModal">
  <form ng-submit="emailSignup()" role="form">
    <div class="form-group" class="modal">
      <label for="firstName">First Name</label>
      <input type="firstName" class="form-control" ng-model="firstName" placeholder="First name" />
    </div>
    <div class="form-group" class="modal">
      <label for="lastName">Last Name</label>
      <input type="lastName" class="form-control" ng-model="lastName" placeholder="Last Name" />
    </div>
    <div class="form-group" class="modal">
      <label for="email">Email address</label>
      <input type="email" class="form-control" ng-model="email" placeholder="Email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" ng-model="password" placeholder="Password" />
    </div>

     <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" class="form-control" ng-model="passwordCheck" placeholder="Password" />
    </div>
    <button type="submit" ng-click="emailSignup()" class="btn btn-primary">Create account</button>
   
  </form>

  <uib-alert ng-repeat="alert in alerts" type="danger" close="closeAlert()">{{alert.msg}}</uib-alert>

  <uib-alert ng-show="emailAlert" type="success" close="closeAlert()">Account created! View your groups 
    <a href="/#/groups">here</a></uib-alert>

</div>