<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <form name="location" ng-submit='sendData()' novalidate>
        <div class="form-group">
          <label for="origin-form">Origin</label>
          <input name="origin" type="text" class="form-control" id="origin-form" placeholder="From" ng-model="data.origin" required ng-class="{'error': location.$invalid && location.$dirty}">
        </div>
        <div class="form-group">
          <label for="destination-form">Destination</label>
          <input name="destination" type="text" class="form-control" id="destination-form" placeholder="To" ng-model="data.destination" required ng-class="{'error': location.$invalid && location.$dirty}">
        </div>
        <div class="form-group">
          <label for="date-form">Date</label>
          <input type="text" class="form-control" id="date-form" placeholder="When" ng-model="data.date">
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="location.$invalid">Submit</button>
      </form>
      <div ng-if='location.origin.$error.required && location.$dirty'>
        <h2> Please enter an origin </h2>
      </div>
      <div ng-if='location.destination.$error.required && location.$dirty'>
        <h2> Please enter a destination </h2>
      </div>
    </div>
  </div><!-- ./row -->
</div><!-- ./container -->
