<div class="container-fluid">
  <div id="" class="row">
    <div class="col-md-offset-4 col-md-4">
      <form name="location" ng-submit='sendData(selected)' novalidate>
        <div class="form-group">
          <label for="group-form">Group Name</label>
          <input name="group" type="text" class="form-control" id="group-form" placeholder="Group Name" ng-model="data.group">
        </div>
        <div class="form-group">
          <label for="destination-form">Destination</label>
          <input type="text" id="destination-form" placeholder="To" ng-model="selected" typeahead-min-length="1"
          uib-typeahead="(destination.name + ', ' + destination.state + ' ' + destination.country_name.toUpperCase()) for destination in destinations | filter:$viewValue | limitTo:8"
          class="form-control" autocomplete="off" typeahead-on-select="sendDestination($item)">

          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
        <button type="submit" class="btn btn-default landing-submit-button" ng-disabled="location.$invalid">Submit</button>
      </form>
      </div>
    </div>
  </div><!-- ./row -->
</div><!-- ./container -->
