<div>
  <div class="container-fluid text-center">
    <div class="row">
      <div class="jumbotron" ng-style="{'background-image':'url(' + city.splash_photo + ')'}">
        <h1>Favorites in {{ city.name }}</h1>
        <div class="col-md-offset-3 col-md-6">
          <ul class="nav nav-pills center-pills">
            <!-- empty anchor tags may need to be fixed -->
            <li role="navigation" class="active"><a href="#/results">Explore</a></li>
            <li role="navigation" class="active"><a href="#/ratings">Ratings</a></li>
            <li role="navigation" class="active"><a href="#">Itinerary</a></li>
          </ul>
        </div>
      </div><!-- /.jumbotron -->
    </div>
  </div>

  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="" ng-click="filterFavorites(1)">Hotels</a></li>
      <li role="presentation"><a href="" ng-click="filterFavorites(2)">Restaurants</a></li>
      <li role="presentation"><a href="" ng-click="filterFavorites(3)">Attractions</a></li>
    </ul>
    <div class="row">
      <h2 class="text-center">{{ heading }}</h2>
    </div>

    <h1 class="text-center" ng-if="filteredGroupRatings.length < 1">
      You current do not have anything to rate!
    </h1>
    <div class="row" class="text-center">
      <div ng-repeat="venue in filteredGroupRatings" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 thumbnail" >
        <div class="venue-info">
          <img class="venue-thumbnail" ng-src="{{ venue.index_photo }}" alt="photo: {{ venue.name }}">
          <div class="caption">
            <div class="title">
              <h4>{{ venue.name }}</h4>
            </div>
            <span>Select your rating <br> {{venue.userRating}} out of 10
              <div star-rating rating-value="venue.userRating" max="10" on-rating-selected="addRating(venue, venue.userRating)"></div>
            </span>
            <button class="btn btn-primary" type="button" name="button">More Info</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
