<div>
  <div class="container text-center">
    <div class="row">
      <div id="banner" class="jumbotron" ng-style="{'background-image':'url(' + destination.splash_photo + ')'}">
        <h1 id="destination-name">Favorites in {{ destination.name }}</h1>
        <div class="col-md-offset-3 col-md-6">
          <ul class="results-nav">
            <li role="navigation"><a href="#/results" >Explore <span class="glyphicon glyphicon-plane" aria-hidden="true"></span></a></li>
            <li role="navigation"><a href="#/ratings" class="active-nav-results-tab">Ratings <span class="glyphicon glyphicon-star" aria-hidden="true"></a></li>
            <li role="navigation"><a href="#/itinerary">Itinerary <span class="glyphicon glyphicon-calendar" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div><!-- /.jumbotron -->
    </div>
  </div>

  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="" ng-click="filterRatings(1)">Hotels</a></li>
      <li role="presentation"><a href="" ng-click="filterRatings(2)">Restaurants</a></li>
      <li role="presentation"><a href="" ng-click="filterRatings(3)">Attractions</a></li>
    </ul>
    <div class="row">
      <h2 class="text-center">{{ heading }}</h2>
    </div>

    <h1 class="text-center" ng-if="filteredUserRatings.length < 1">
      You current do not have anything to rate!
    </h1>
    <div class="row" class="text-center ">
      <h3 class="text-center"> User Ratings </h3>
      <div ng-repeat="venue in filteredUserRatings track by $index" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 thumbnail ratings" >
        <div class="venue-info">
          <img class="venue-thumbnail" ng-src="{{ venue.venue.index_photo }}" alt="photo: {{ venue.venue.name }}">
            <div class="title">
              <h4>{{ venue.venue.name }}</h4>
            </div>
            <div class="caption">
              <div>Select your rating</div>
              <uib-rating ng-init="ratings[venue._id] = venue.currentRating; showRatings[venue._id] = venue.currentRating" on-hover="hoveringOver(value, venue._id)" ng-model="ratings[venue._id]" ng-click="addRating(venue, ratings[venue._id])" max="max" readonly="isReadonly" aria-labelledby="default-rating"></uib-rating>
              <div class="detailed-info">
                <span class="label" ng-class="{'label-danger': showRatings[venue._id]<3,'label-warning': showRatings[venue._id]<5, 'label-info': showRatings[venue._id]>=5 && showRatings[venue._id]<8, 'label-success': showRatings[venue._id]>=8}" ng-show="!isReadonly">{{showRatings[venue._id]}}/10</span>
                <button type="button" class="btn label label-danger" ng-click="ratings[venue._id] = 0; showRatings[venue._id] = 0; addRating(venue, 0)">Clear Rating</button>
              </div>
              <div>
                <button class="btn btn-sm btn-info" type="button" name="button" ng-click="showDetailedVenueInfo(venue)">More Info</button>
                <button class="btn btn-sm btn-primary" type="button" name="button" ng-click="addToItin(venue)">Add to Itinerary</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
