body, html {
  font-family: 'Open Sans', sans-serif;
  background-image: url(../assets/stardust.png);
}

.container {
  background-color: #eee;
  box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
}

.app-summary {
  background-color: #FFFFFF;
}

header {
  margin-top: 0;
}

.center-pills {
  display: inline-block;
}

.modal-content {
  padding: 15px;
}

.modal {
  float: left;
  clear: left;
}

.signin {
  text-align: center;
}

.exit {
  float: right;
}

.move {
  float: left;
  clear: left;
}

.google {
  height: 96%;
  width: 40%;
  padding-bottom: 15px;
  padding-top: 10px;
  float: left;
}

.facebook {
  height: 98%;
  width: 42%;
  float: right;
  padding-bottom: 15px;
  padding-top: 8px;
}

.logins {
  height: 54%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}
ul.rating {
  display: inline-block;
}
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.rating .filled {
  color: navy;
}

.venue-thumbnail {
  max-width: 200px;
  max-height: 200px;
}

.venue-info {
  background-color: #FFF;
  text-align: center;
  padding: 10px;
  padding-bottom: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #eee;
  -webkit-box-shadow: 0px 2px 3px #999;
  -moz-box-shadow: 0px 2px 3px #999;
  box-shadow: 0px 2px 3px #999;
}


.title {
  height: 40px;
  padding-bottom: 1em;
  margin: 20px;
}

.venue-btn-container {
  padding-top: 1em;
}

.thumbnail {
  height: 340px;
  margin-bottom: 15px;
}

.ratings {
  height: 380px;
}

.itinerary {
  height: 520px;
}

.full-itinerary {
  height: 440px;
}

.groups-setting {
  height: 550px;
}

.detailed-info {
  margin-bottom: 10px;
}

.typeahead-demo .custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

.email {
  display: inline-block;
}

.landing-submit-button {
  visibility: hidden;
}

.landing-thumbnail {
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
}

.landing-message {
  padding-top: 5%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}

/*.results {
  border: 1px solid #000;
}*/

.results-nav li a {
  color: #fff;
  text-shadow: 1px 1px 1px black, 0 0 0.1em black, 0 0 0.1em black;
}

.results-nav li {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 200;
  text-transform: uppercase;
  padding: 10px;
}

ul.nav.nav-tabs.sub-nav {
  margin-top: 0;
}

.sub-nav {
  width: 100%;
  height: 2px;
  margin: 1.4em 0;
  border: none;
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(221,221,221)),
      color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 50%,
      rgb(255,255,255) 50%
  );
}

hr.carved {
  width: 100%;
  height: 2px;
  margin: 0;
  border: none;
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(221,221,221)),
      color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 50%,
      rgb(255,255,255) 50%
  );
}

.active-nav-results-tab {
  color: navy;
}

.nav-row {
  background-color: #eee;
}

.navbar, .navbar-default {
  background-color: #FFFFFF;
  padding: 5px;
  margin-bottom: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 6px 6px -6px #999;
  -moz-box-shadow: 0 6px 6px -6px #999;
  box-shadow: 0 6px 6px -6px #999;
}

nav.navbar.navbar-default {
  background-color: #FFFFFF;
}

.form-control {
  padding: 20px;
  border-radius: 0;
}

.text-outline {
  color: #fff;
  text-shadow: 1px 1px 1px black, 0 0 0.1em black, 0 0 0.1em black;
}

.results-container {
  min-height: 20vh;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background-color: #eee;
}

#landing {
  background: url(https://images.unsplash.com/29/night-square.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=36e3089748ffd4e8a285318afb1a7a57) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  margin-top: -25px;
  padding-top: 25px;
}

#results-wrapper {
  background-image: url(../assets/stardust.png);
}

#landing-form {
  color: #fff;
  margin-top: 10%;
}

/* may need to apply to div#banner.jumbotron, also needs other browser prefixes */
#banner {
  border-bottom: none;
  margin-bottom: 0;
  overflow: auto;
  border-radius: 0;
  box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
}

#city-name {
  font-family: 'Source Serif Pro', serif;
  color: #fff;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}

#api-attribution {
  background-color: #EBEBEB;
}
