body, html, .container, .container-fluid {
  font-family: 'Open Sans', sans-serif;
}

.center-pills {
  display: inline-block;
}

.modal-content {
  padding: 15px;
}

.modal {
  float: left;
  clear: left;
}

.signin {
  text-align: center;
}

.exit {
  float: right;
}

.move {
  float: left;
  clear: left;
}

.google {
  height: 96%;
  width: 40%;
  padding-bottom: 15px;
  padding-top: 10px;
  float: left;
}

.facebook {
  height: 98%;
  width: 42%;
  float: right;
  padding-bottom: 15px;
  padding-top: 8px;
}

.logins {
  height: 54%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}
ul.rating {
  display: inline-block;
}
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.rating .filled {
  color: navy;
}

.venue-thumbnail {
  max-width: 200px;
  max-height: 200px;
}

.venue-info {
  text-align: center;
  margin-top: 10px;
}

.thumbnail {
  width: 250px;
  height: 340px;
  overflow: auto;
  margin-bottom: 15px;
  margin-left: 20px;
}

.ratings {
  height: 380px;
}

.itinerary {
  height: 520px;
}

.full-itinerary {
  height: 440px;
}

.groups-setting {
  height: 550px;
}

.title {
  height: 30px;
}

.detailed-info {
  margin-bottom: 10px;
}

.typeahead-demo .custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

.email {
  display: inline-block;
}

.landing-submit-button {
  visibility: hidden;
}

.landing-thumbnail {
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
}

.landing-message {
  padding-top: 5%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}

.results-nav li a {
  color: #fff;
  text-shadow: 1px 1px 1px black, 0 0 0.1em black, 0 0 0.1em black;
}

.results-nav li {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 200;
  text-transform: uppercase;
  padding: 10px;
}

.active-nav-results-tab {
  color: navy;
}

.navbar, .navbar-default {
  padding: 5px;
  border-radius: 0;
  -webkit-box-shadow: 0 6px 6px -6px #999;
  -moz-box-shadow: 0 6px 6px -6px #999;
  box-shadow: 0 6px 6px -6px #999;
}

#landing {
  background: url(https://images.unsplash.com/29/night-square.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=36e3089748ffd4e8a285318afb1a7a57) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  margin-top: -25px;
  padding-top: 25px;
}

#landing-form {
  color: #fff;
  margin-top: 10%;
}

#banner {
  margin-top: -25px;
}

#city-name {
  font-family: 'Source Serif Pro', serif;
  color: #fff;
  text-shadow: 1px 1px 1px black, 0 0 0.1em black, 0 0 0.1em black;
}

#api-attribution {
  background-color: #EBEBEB;
}
