.center-pills {
  display: inline-block;
}

.modal-content {
  padding: 15px;
}

.modal {
  float: left;
  clear: left;
}

.signin {
  text-align: center;
}

.exit {
  float: right;
}

.move {
  float: left;
  clear: left;
}

.google {
  height: 96%;
  width: 40%;
  padding-bottom: 15px;
  padding-top: 10px;
  float: left;
}

.facebook {
  height: 98%;
  width: 42%;
  float: right;
  padding-bottom: 15px;
  padding-top: 8px;
}

.logins {
  height: 54%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: navy;
}

.venue-thumbnail {
  max-width: 200px;
  max-height: 200px;
}

.venue-info {
  text-align: center;
  margin-top: 10px;
}

.thumbnail {
  width: 250px;
  height: 340px;
  overflow: auto;
  margin-bottom: 15px;
  margin-left: 20px;
}

.ratings {
  height: 380px;
}

.itinerary {
  height: 520px;
}
.title {
  height: 30px
}

.detailed-info {
  margin-bottom: 10px;
}

.typeahead-demo .custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}